[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-admin = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
django-request = "*"
django-extra-fields = "*"
pillow = "*"

[requires]
python_version = "3.6"
